*.*
*
.*/
.vscode/
.metals/

!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/rt-thread-am/*
!Makefile
!README.md
!.gitignore
!init.sh
/utils
/nvboard
!/labs/**
!/notes/*/am-kernels
!Dockerfile
!README*/fceux-am
