*.*
*
!*/
!Makefile
!*Makefile*
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!build.sc
!README.md
!Chisel_Startup.md
!utils/*


# mill
out/
.bsp/
.bloop/
.idea/
.idea_modules/
.vscode/
.metals/
test_run_dir/

# verilator
*.dmp
*.log
*.csrc
*.vcd
obj_*
logs

build/*.v
build/*
